body {

    background-color:green;
    background-repeat: no-repeat;
    background-position: center;
text-align: center;
}
h1 {
    color:gold
}
h2 {
    color:gold
}
p{
    color:gold
}
h3{
    color:gold
}
